<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
<div id="user-id" data-user-id="<%= current_user.id %>"></div>
<div class="container">
    <div class="row g-2">
        <div class="col-md-4">
            <div class=' shadow p-md-3'>
                <%= render 'form', room:Room.new %>
            </div>
            <hr/>
            <div>
                <h1>Rooms</h1>
                <% @rooms.each do |room| %>
                    <% active_class = (@room == room) ? 'active' : ''%>
                    <div class="px-3 py-2 border shadow roombox <%= active_class %> ">
                        <h3 class="rooms"><%= link_to room.name ,
                            room_path(room),class:'text-decoration-none text-success' %></h3>
                        <p><%= room.users.uniq.count %></p> 
                    </div> <br />
                <% end %>
            </div>
        </div>
        <div class="col-md-8 chat-room shadow border">
            <% if @room.present? %>
                <h3 class='mb-3 text-center mt-3'><%= @room.name %></h3>
                <hr />
                <div id='messages'>
                    <% @room.messages.each do |msg| %>
                        <%= render partial: 'messages/message', locals: { msg: msg } %>                
                    <% end %>
                </div>
                <div class='chat-box'>
                    <%= render 'messages/form', message: Message.new, room: @room %>
                </div>
            <% end %>

        </div>
    </div>
</div>