<div class="container mt-5">
    <div class="row g-2">

        <div class="col-md-4">
            <div class=' shadow p-md-3'>
                <%= render 'form', room:Room.new %>
            </div>
            <hr/>
            <div>
                <h1>Rooms</h1>
                <% @rooms.each do |room| %>
                    <h3 class="px-3 py-2 border shadow rooms"><%= link_to room.name ,
                        room_path(room),class:'text-decoration-none text-success' %></h3>
                <% end %>
            </div>
        </div>
        <div class="col-md-8">
            <% if @room.present? %>
                <h3 class='mb-3'><%= @room.name %></h3>
                <% @room.messages.each do |msg| %>
                    <p><%= msg.content %></p>
                <% end %>
                <div class='chat-room'>
                    <%= render 'messages/form', message: Message.new, room: @room %>
                </div>
            <% end %>

        </div>
    </div>
</div>